<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
</head>
<body>
    {% block content %}
    <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
        <!-- Navigation content -->
    </nav>
    <h1>Welcome to {{ title }}!</h1>
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
        <!-- Footer content -->
    </footer>
    {% endblock content %}
</body>
</html>
