<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mitsu_projet</title>
</head>
<body>
    <div class="container mx-auto mt-20">
        <h1>Encoder vos données</h1>
        <form method="post">  
           <div>
               <label for="nom">Nom :</label>
               <input class="border rounded py-2 px-3 text-gray-700" type="nom" id="nom" name="nom" required>
           </div>
           <div>
               <label for="mot">Mot de passe :</label>
               <input class="border rounded py-2 px-3 text-gray-700" type="mot" id="mot" name="mot" required>
           </div>
           <div>
               <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit" value="submit">
                   Valider
               </button>
           </div>
       </form>
   </div>
</body>
</html>