<!DOCTYPE html>
<html>
<head>
    <title>Mitsu_projet</title>
</head>

<body>
    <a>
        <img src=""/>
    </a>

    <h1>Encodez vos données</h1>
    <form method="POST" action="{{ url_for('submit') }}">
        <div>
            <label for="username">Username :</label>
                <input type="username" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password :</label>
	            <input type="password" id="password" name="password" required>
        </div>
	    <button type="submit">Encoder</button>
    </form> 

</body>
</html>







