{% extends 'base.html' %}
{% block content %}
    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
        <span class="font-medium text-gray-600 dark:text-gray-300"> name </span>
    </div>
    <div class="flex items-center gap-4">
        <img class="w-10 h-10 rounded-full" src="{{ url_for('static', filename='img/user.png') }}" alt="">
        <div class="font-medium dark:text-white">
            <div>name</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Joined in August 2014</div>
        </div>
    </div>

{% endblock %}