{% extends 'base.html' %}
{% block content %}
    <div class="container mx-auto mt-20">
         <h1>{% block title %}Mitsuruki{% endblock %}</h1>
    </div>
    <div class="container mx-auto mt-20">
        <h1>Tape your data </h1>
        <form method="post">  
        <div>
            <label for="name">Name :</label>
            <input class="border rounded py-2 px-3 text-gray-700" type="name" id="name" name="name" required>
        </div>
        <div>
            <label for="name">Email :</label>
            <input class="border rounded py-2 px-3 text-gray-700" type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password :</label>
            <input class="border rounded py-2 px-3 text-gray-700" type="password" id="password" name="password" required>
        </div>
        <div>
            <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit" value="submit">
                Valider
            </button>
        </div>
        </form>
    </div>  
{% endblock %}